{{#each data}}
    {{this.titulo}}
{{/each}}
<div class="container-fluid">
    <div class="col-sm-12">
        <div class="container-fluid">
            <div class="col col-lg-12 col-md-12 col-sm-12">
                <p>
                    <span class="titania">The New Old Gallery</span> es una plataforma expositiva virtual de creativos
                    emergentes. Juega, fluctúa con los espacios. Se comprende entre el world wide web y los entornos
                    urbanos, generando un arte transeúnte... <span class="titania"><a href="contact">wanna know
                            more?</a></span>
                </p>
            </div>
        </div>
        {{!-- <funcionamiento></funcionamiento>
        <galeriaurbana></galeriaurbana>
        <galeria></galeria>
        <download></download> --}}
    </div>
</div>